<!DOCTYPE html>
<html>
<head>
	<%- include('head', {title: "Wenwen's Forum"}) %>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
      <a class="navbar-brand" href="/">Wenwen's Forum</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if (!nickname) { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
    <div class="m-4 lead"><% if (!nickname) { %>Please log in to leave your comment<% } else { %>Hello, <%= nickname %><% } %></div>
    <% if (nickname) { %>
      <div class="create-comment my-4 p-4 rounded">
        <input type="text" name="topic" class="create-comment--topic rounded" placeholder="Topic" required />
        <textarea name="content" class="create-comment--content mt-2 rounded" placeholder="Comment" required></textarea>
        <input name="parent_id" type="hidden" value="0" />
        <input class="create-comment__btn mt-2 rounded" type="submit" />
      </div>
    <% } %>
    <% for (let i = 0; i < comments.length; i++ ) { %>
    <div class="comment mb-4 p-5 bg-light-grey rounded">  
    <h1 class="comment--topic display-4"><%= comments[i].topic %></h1>
      <div class="row">
        <div class="col"><span class="comment--nickname"><%= comments[i].nickname %></span><span class="comment--username ml-2 font-weight-light font-italic">(<%= comments[i].username %>)</span></div><div class="comment--created-at col text-right"><%= comments[i].createdAt.toString().slice(4, 21) %></div>
      </div>
      <hr />
      <p class="comment--content pb-3"><%- comments[i].content.replace(/\n/g, '<br/>') %></p>
      <% if (nickname) { %>
        <div class="create-comment-sub mt-3 ml-4 p-4 rounded" action="" method="post">
          <input name="topic" type="hidden" value="topic" />  
          <textarea name="content" class="create-comment-sub--content rounded" placeholder="Comment" required></textarea>
          <input name="parent_id" type="hidden" value="123" />
          <input class="create-comment__btn mt-2 rounded" type="submit" />
        </div>
      <% } %>
    </div>
    <% } %>
    <div class="footer text-muted text-center m-4">This page is created by <a class="font-weight-bold" href="https://github.com/cwenwen">me</a> - <a class="font-weight-bold" href="#">View on Github</a></div>
  </div>
  <%- include('scripts', {jsFile: 'index'}) %>
</body>
</html>